h1{
    color: white;
    
}
p{
    font-size: 20px;
    color: lightslategray;
    margin: 0;
}
.a{
    font-size: 30px;
    text-align: center;
}
.b{
    text-align: center;
}
.c{
    text-align: center;
}
.d{
    text-align: center;
}
.e{
    font-size: 30px;
    text-align: center;
}
.f{
    text-align: center;
}
.g{
    text-align: center;
}
.h{
    text-align: center;
}
.i{
    text-align: center;
}
.j{
    text-align: center;
}
.k{
    text-align: center;
}
.l{
    text-align: center;
}



@media (min-width: 400px) {
    .a {
        font-size: 50px;
    }
    .b{
        margin-left: 5%;
        text-align: left;
    }
    .c{
        margin-left: 10%;
        text-align: left;
    }
    .d{
        margin-left: 15%;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .b{
        margin-left: 5%;
        text-align: left;
    }
    .c{
        margin-left: 10%;
        text-align: left;
    }
    .d{
        margin-left: 15%;
        text-align: left;
    }
    .e{
        font-size: 30px;
        margin-right: 0%;
        text-align: right;
    }
    .f{
        margin-right: 0%;
        text-align: right;
        font-size: 18px;
    }
    .g{
        margin-right: 0%;
        text-align: right;
        font-size: 18px;
    }
    .h{
        margin-right: 0%;
        text-align: right;
        font-size: 18px;
    }
    .i{
        text-align: right;
        margin-right: 0%;
    }
    .j{
        margin-right: 0%;
        text-align: right;
        font-size: 18px;
    }
    .k{
        margin-right: 0%;
        text-align: right;
        font-size: 18px;
    }
    .l{
        margin-right: 0%;
        text-align: right;
        font-size: 18px;
    }
}