.panel{
    background-color: #0D1D26;
    color: white;
}
.panel-footer {
    background-color: #0D1D26;
}
.contactLabel {
    margin-top: 60px;
    padding-top: 40px;
}
.panel-footer {
    margin: 0;
}