/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
    float: right;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  
  
  .social-circle li .socialIcon {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-color: lightslategray;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 40px;
   
  }
  
  .social-circle li .socialIcon:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }

.socialFooter {
    text-align: right;
}
.authorFooter {
    text-align: left;
    color: white;
    font-size: 25px;
    padding-top:5px;
}
footer{
    padding-top: 20px;
}