.quote{
    background: url("../img/quote.png"); 
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center, center;
}
.quotes{
    text-align: center;
    margin-top: 40px;
}
.author{
    text-align: right;
    margin-top:20px;
    margin-right: 30px;
}