.quote{
    background: linear-gradient(rgba(250, 42, 42, 0.651),rgba(252, 78, 78, 0.705)
    ), url("../img/quote.png");
    background-color: #FA3531;
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center, center;
}
.quotes{
    text-align: center;
    margin-top: 40px;
}
.author{
    text-align: right;
    margin-top:20px;
    margin-right: 30px;
}



@media (min-width: 600px) {
    .quotes{
        margin-top: 40px;
        padding-top: 60px;
    }
    }
    
@media (min-width: 992px) {
    .quotes{
        margin-top: 40px;
    }
}