body{
    visibility: hidden;
    align-self: auto;
    text-align: center;
    margin: auto;
    max-width: 1100px;
    background: #0D1D26;
}
.navbar{
    background-color: #0C1C26;
    visibility: hidden;
}
.window{
    margin-top: 20px;
}
.row{
    background-color: #0C1C26;
}
.col-md-8, 
.col-md-6,
.col-md-4,
.portfolio{
    height: 200px;
}
img{
    height: 100%;
}
h1{
    font-size: 30px;
    color: white;
    text-align: center;
}
p{
    font-size: 20px;
    color: lightslategray;
    text-align: left;
    margin: 0;
    text-align: center;
}
.foto{
    background: url("../img/fotoPortCartoon.png");
    background-size: 240px;
    background-position: center top;
    background-repeat: no-repeat;
    transition:  0.1s;
}
.foto:hover{
    background: url("../img/fotoPortCartoonInvert.png");
    background-size: 240px;
    background-position: center top;
    background-repeat: no-repeat;
    transition:  0.1s
}
h2{
    text-align: right;
    margin:10px;
    font-size: 40px;
    font-weight: bold;
}





@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .col-md-8, 
    .col-md-6,
    .col-md-4,
    .portfolio{
        height: 180px;
        border-style: solid;
        border-color: #0D1D26;
        border-width: 3px;
        border-radius: 10px;
    }
    .foto{
        background-position: right top;
        background-size: 200px;
    }
    .foto:hover{
        background-position: right top;
        background-size: 200px;
}
